@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
    --default-font-family: "Montserrat", serif;

    --color-turquoise-50: #effefb;
    --color-turquoise-100: #c8fff4;
    --color-turquoise-200: #92fdea;
    --color-turquoise-300: #53f5de;
    --color-turquoise-400: #25e2cc;
    --color-turquoise-500: #07c5b2;
    --color-turquoise-600: #029f92;
    --color-turquoise-700: #077e76;
    --color-turquoise-800: #0b645f;
    --color-turquoise-900: #0e534f;
    --color-turquoise-950: #013231;

    --color-big-stone-50: #f4f8fb;
    --color-big-stone-100: #e8eff6;
    --color-big-stone-200: #ccdfeb;
    --color-big-stone-300: #a0c5d9;
    --color-big-stone-400: #6da6c3;
    --color-big-stone-500: #4a8aad;
    --color-big-stone-600: #386f91;
    --color-big-stone-700: #2e5976;
    --color-big-stone-800: #2a4d62;
    --color-big-stone-900: #274153;
    --color-big-stone-950: #16242f;
    

    --color-loblolly-200: #dadfe3;
    --color-loblolly-300: #c0c9d0;
    --color-loblolly-400: #a1aeb9;
    --color-loblolly-500: #8a98a7;
    --color-loblolly-600: #798597;
    --color-loblolly-700: #6c7789;
    --color-loblolly-800: #5c6371;
    --color-loblolly-900: #4c515c;
    --color-loblolly-950: #31343a;

    --color-iron-50: #f6f7f8;
    --color-iron-100: #eaecef;
    --color-iron-200: #dadee3;
    --color-iron-300: #c0c8d0;
    --color-iron-400: #a2acb8;
    --color-iron-500: #8b95a6;
    --color-iron-600: #7a8396;
    --color-iron-700: #6d7488;
    --color-iron-800: #5c6171;
    --color-iron-900: #4c505c;
    --color-iron-950: #31333a;
    
    --color-regent-gray-50: #f5f7f8;
    --color-regent-gray-100: #edf0f2;
    --color-regent-gray-200: #dee4e7;
    --color-regent-gray-300: #c9d3d8;
    --color-regent-gray-400: #b2bec7;
    --color-regent-gray-500: #9ea9b6;
    --color-regent-gray-600: #8b96a6;
    --color-regent-gray-700: #747e8e;
    --color-regent-gray-800: #5f6774;
    --color-regent-gray-900: #50565f;
    --color-regent-gray-950: #2f3337;
    
    --color-shuttle-gray-50: #f7f8f8;
    --color-shuttle-gray-100: #edeef1;
    --color-shuttle-gray-200: #d8dadf;
    --color-shuttle-gray-300: #b6bac3;
    --color-shuttle-gray-400: #8e95a2;
    --color-shuttle-gray-500: #707787;
    --color-shuttle-gray-600: #5c6271;
    --color-shuttle-gray-700: #4a4e5a;
    --color-shuttle-gray-800: #3f434d;
    --color-shuttle-gray-900: #383a42;
    --color-shuttle-gray-950: #25262c;

    --color-picton-blue-50: #EEFAFF;
    --color-picton-blue-100: #def6ff;
    --color-picton-blue-200: #b6efff;
    --color-picton-blue-300: #75e6ff;
    --color-picton-blue-400: #2cdaff;
    --color-picton-blue-500: #00c0ef;
    --color-picton-blue-600: #00a0d4;
    --color-picton-blue-700: #007fab;
    --color-picton-blue-800: #006895;
    --color-picton-blue-900: #065974;
    --color-picton-blue-950: #003D5B;
    
    --color-blue-lagoon-50: #e7fffb;
    --color-blue-lagoon-100: #c2fff5;
    --color-blue-lagoon-200: #8cffeb;
    --color-blue-lagoon-300: #3dffde;
    --color-blue-lagoon-400: #00ffd4;
    --color-blue-lagoon-500: #00fff2;
    --color-blue-lagoon-600: #00d6e3;
    --color-blue-lagoon-700: #00a8b5;
    --color-blue-lagoon-800: #008590;
    --color-blue-lagoon-900: #007380;
    --color-blue-lagoon-950: #004955;
    
    
    
    
    
    
    
    
    
}
@layer components {
    .container {
        width: 100vw;
        max-width: 1280px;
        margin: 0 auto;
    }
}
